* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    list-style: none;
}
:root{
    --bg-color:#fff;
    --main-color:#1A2B3C;
    --secondary-color:#5a7184;
    --text-color:#221315;
    --logo-color:orange;
    --p-fontsize:1rem;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:blanchedalmond;
    position: fixed;
    width:100%;
    z-index: 1;
}
.logo{
    margin-left: 300px;
    font-size: 35px;

}
.nav{
    display: flex;
    width:100%;
    gap:20px;
    margin-left: -500px;
    font-size: 20px;
}
.section-1{
    background-image: url(./imges/WhatsApp\ Image\ 2024-08-13\ at\ 22.05.06_59cb742a.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;

}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: -1500px;
   
}
.section-2{
    height: 100vh;
}
.features-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid;
    gap:80px;
}
.features-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 2px solid;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}
#promotion{
    background-image: url(./imges/WhatsApp\ Image\ 2024-08-13\ at\ 22.05.06_8ab179e5.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 80vh;
    margin-left: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 800px;
    position: relative;
    top:180px;
    height: 50vh;
}
.container-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    gap:80px;   
}
.item-service-item{
    display: flex;
    flex-direction: row;
    gap: 100px;
   
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    border: 2px solid ;
    padding: 100px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap:150px;
}
#contact-us{
    height: 100vh;
}
.form-collector{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    padding: 20px;
    gap:10px;
}
.form-input{
    border: 2px solid;
    padding: 100px;
}
.contact-info{
    border: 2px solid;
    padding: 100px;
}
 